<mat-card class="mt20">
    <mat-list>
        <div mat-subheader>Hotels</div>
        <table id="viewtable">
            <thead>
                <tr id="r1">
                    <td>Hotel Name</td>
                    <td>Address</td>
                    <td>Website</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let n of hotel">
                    <td>{{n.hotelName}}</td>
                    <td>{{n.hotelAddress}}</td>
                    <td><a href="{{n.hotelLink}}">{{n.hotelLink}}</a></td>
                </tr>
            </tbody>
        </table>
    </mat-list>
</mat-card>