<mat-card class="mt20">
    <mat-list>
        <div mat-subheader>Hotels</div>
        <mat-list-item *ngFor="let n of hotel">
            <mat-icon mat-list-icon>hotel</mat-icon>
            <div mat-line>{{n.hotelName}}</div>
            <div mat-line>{{n.hotelAddress}}</div>
            <div mat-line><a href="{{n.hotelLink}}">{{n.hotelLink}}</a></div>
            <div><button mat-raised-button (click)="deleteHotel(n.hid)"><mat-icon color="warn">delete</mat-icon> Delete</button></div>
            <div><button mat-raised-button class="ml10" [routerLink]="'/admin/hotel/'+n.hid"><mat-icon color="primary">upgrade</mat-icon> Update</button></div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</mat-card>